html {
    width: 100%;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
} 
body {
    width: 100%;
    background: linear-gradient(120deg, rgb(109, 115, 124), rgba(205, 207, 216, 0.872));
    display: flex;
    font-family: sans-serif;
}
form {
    color: black;
    padding: 0px;
    border: 3px solid;
    align-items: center;
    background:  rgb(164, 184, 203);
    border-radius: 18px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: fixed;

}
.main-form{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#heading {
    font-weight: bold;
    margin: 25px 50px ;
    margin-bottom: 15px;
    padding: 5px;
     display: flex;
     justify-content: center;

}
.input-main{
      justify-content: center;
      width: 450px;
    }

.input{
    display: flex;
    margin: 13px 20px;

}
.note{
     
    margin: -7px 0 10px 30%;
    font-size: 12px;
    opacity: 0.5;
}

.label{
    display: flex;
    align-items: center;
    width: 120px;
}
 .label span:hover{
    cursor:pointer;
}
.input-box {

    border-radius: 5px;
    padding: 10px;
    width: 300px;
    border: 1px solid rgb(100, 100, 116);
    outline: none;

} 
.fp{
    text-decoration: none;
    color: rgb(85, 85, 99);
     text-align:justify;
     display: flex;
     justify-content: end;
     margin: 0px 20px 5px 26%;
    transition: 0.5s;
}
.fp:hover{
    color: rgb(0, 0, 233);
}

.signup-btn {
    width: 75%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color:  rgb(103, 103, 142);
    transition: 0.5s;
    margin: 10px 50px;   
}
.signup-btn:hover
{
    transform: scale(1.1);
    background-color: rgb(103, 103, 142);
}

.log_in{
    text-decoration: none;
    color: rgb(103, 103, 237);
    margin-left: 9px;
    transition: 0.5s;

}
.log_in:hover{
    color: rgb(0, 0, 233);
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}

.or {
    margin: 5px 47%;
}
.log_in-main{
    margin: 20px 100px;
    margin-top: 10px;
}

