*{
    margin:0; padding: 0;
    box-sizing: border-box;
    font-family: Calibri, Helvetica, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    /* scroll-padding-top: 7rem; */
}
header{
    position: fixed;
    top:0;left:0;right:0;
    z-index: 1000;
    background: gray;
    padding:  0.6%;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    font-weight: bold;
    display: flex;
}
nav{
   width: 99%;
    position:fixed;
    display: flex;
    justify-content: space-between;
    padding-right: .10%;
    background-color: rgb(164, 184, 203);
}
.navbar{
    color:black;
    height: 50px;
}

header .navbar.active{
    clip-path: polygon(0 0,100% 100% ,0% 100%);
}
.menu{
    width: 50%;
    display: flex;
    justify-content:space-around;
    padding-top: 1.1%;
}
img{
    width: 100%;
    padding: 0% 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    color: black;
    font-size: 22px;
    padding-left: 30px ;
    padding-top: 8px;
    justify-content: center;
    font-weight: bolder;
}
.menu a{
    color: rgb(84, 92, 100) ;
    font-size: 18px;
}
.navbar a:hover{
    color:black;
}

footer{
    box-sizing: 50px ; 
    box-shadow: 2cm;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
}
.over h1{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
}
.over h2{
    font-size: 65px;
    font-weight: 600;
    letter-spacing: 3px;
}

.image_buyer{
    width: 100%;
    padding: 0% 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* for home page */
section{
    padding: 2rem 9%;
}
.home{
    min-height: 100vh;
    background:url(images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 0%;
}
.home form{
    margin-top:5.3rem;
    background:#fff;
    border-radius:.5rem;
    box-shadow: 0.6rem .8rem rgba(0,0,0,.2);
    border:.1rem solid rgba(0,0,0,.2);
    width: 60rem;
    padding: 2rem;
}
.home form h3{
    text-align: center;
    color: #333;
    font-size: 3rem;
}
.btn{
    width: 440px;
    margin-top:1rem;
    margin-bottom: 1rem;
    display:inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    font-size:1.4rem;
    color:#333;
    background: lightblue;
    cursor: pointer;
    display: inline-block;

}
.btn2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    border-radius: .5rem;
    font-size:1.4rem;
    color:#333;
    background: lightblue;
    cursor: pointer;
}
.btn2:hover{
    background: rgb(164, 184, 203) ;
    color: #fff;
}
.btn:hover{
    background: rgb(164, 184, 203) ;
    color: #fff;
}
.submitbtn{
    width: 900px;
    justify-content: center;
    display: flex;
}

.home form .buttons-container .btn{
    flex: 1;
    text-align:center;
 }
 
 .home form .inputbox{
        display:flex;
        flex-wrap: wrap;
        gap:1.5rem;
        margin-top: 2rem;
 }
.home form .inputbox input,
.home form .inputbox select{
    flex:1 1 25rem;
    border: .1rem solid #333;
    box-shadow: .2rem .5rem rgba(0,0,0,.1);
    font-size:1.2rem;
    padding:1rem;
    text-transform: none;
 }
 .home form .btn2{
    width:100%;
    margin-top: 2rem;
 }
 
 /* service part */
 .img_ser{
    width: 250px;
 }
 .heading{
    text-align:center;
    color:#333;
    font-size:4rem;
    padding-bottom:3rem;
    padding-top: 3rem;
 }

.service .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem; 
    justify-content: space-between; 
}
.service .box-container .box{
    flex: 0 3 10rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow:0  .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.2);
    text-align: center;
    padding: 2.2rem;
}
.service .box-container .box h3{
    font-size:2.5rem;
    color:#333;
} 
.service .box-container .box p{
    font-size:1.5rem;
    color:#666;
    padding: .5rem 0;
} 
.btn3{
    width: 300px;
    margin-top:1rem;
    margin-bottom: 1rem;
    display:inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    font-size:1.4rem;
    color:#333;
    background: lightblue;
    cursor: pointer;
    display: inline-block;
}
.btn3:hover{
        background: rgb(164, 184, 203) ;
        color: #fff;
}

/* feature part design */
.featured .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5px; 
    justify-content: space-between; 
}

.featured .box-container .box{
    flex: 0 3 23rem;
    text-align: center;
    justify-content: space-between; 
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    overflow:hidden;
    background:#fff;
}

.featured .box-container .box .image-container{
    overflow:hidden;
    position: relative;
    width: 100%;
    height: 25rem;
}

.featured .box-container .box .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.featured .box-container .box:hover .image-container img{
    transform: scale(1.1);
}

.featured .box-container .box .image-container .info{
    position: absolute;
    top:1rem; left:0;
    display: flex;
}

.featured .box-container .box .image-container .info h3{
    font-weight: 500;
    font-size: 1.4rem;
    color:#fff;
    background:rgba(0,0,0,.3);
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    margin-left: 1rem;
}

.featured .box-container .box .image-container .icons{
    position: absolute;
    bottom:1rem; right:0;
    display: flex;
    justify-content: space-between;
} 

.featured .box-container .box .image-container .icons a{
    font-size: 1.4rem;
    color:#fff;
    display: flex;
    border-radius: .5rem;
    background: rgba(0,0,0,.3);
    margin-right: 1rem;
    padding:.7rem;
}

.featured .box-container .box .image-container .icons a h3{
    font-weight: 500;
    padding-left: .5rem;
}

.featured .box-container .box .content{
    padding:1.5rem;
}

.featured .box-container .box .content .price{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.featured .box-container .box .content .price h3{
    color:black ;
    font-size: 2rem;
    margin-right: auto;
}

.featured .box-container .box .content .price a{
    color:#333;
    font-size: 1.5rem;
    margin-right: .5rem;
    border-radius: .5rem;
    height:4rem;
    width:4rem;
    line-height: 4rem;
    text-align: center;
    background:#f7f7f7;
}

.featured .box-container .box .content .price a:hover{
    background: rgb(164, 184, 203) ;
        color: #fff;
}

.featured .box-container .box .content .location{
    padding:1rem 0;
}

.featured .box-container .box .content .location h3{
    font-size: 2.5rem;
    color:#333;
}

.featured .box-container .box .content .location p{
    font-size: 1.5rem;
    color:#666;
    line-height: 1.5;
    padding-top: .5rem;
}

.featured .box-container .box .content .details{
    padding:.5rem 0;
    display: flex;
}

.featured .box-container .box .content .details h3{
    flex:1;
    padding:1rem;
    border:.1rem solid rgba(0,0,0,.1);
    color:#999;
    font-size: 1.3rem;
}

.featured .box-container .box .content .details h3 i{
    color:#333;
    padding-left: .5rem;
}

.featured .box-container .box .content .buttons{
    display: flex;
    gap:1rem;
}

.featured .box-container .box .content .buttons .btn{
    flex:1;
    font-size: 1.5rem;
}
.btn4{
    width: 140px;
    margin-top:1rem;
    margin-bottom: 1rem;
    display:inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    font-size:1.4rem;
    color:#333;
    background: lightblue;
    cursor: pointer;
    display: inline-block;
}
.btn4:hover{
        background: rgb(164, 184, 203) ;
        color: #fff;
}
